*{
  
    
    box-sizing: border-box;
}
  @font-face {
    font-family: Montserrat;
    src: url(Montserrat.ttf);
  } 
  /*Edge*/
   ::-webkit-input-placeholder{
    font-family: Monstserrat;
    font-weight: 700;
    font-size: 13px;
    line-height:19px ;
    color: #000000;
  } 
  /*internet Explorer 10-11*/
   ::-webkit-input-placeholder{
    font-family: Monstserrat;
    font-weight: 700;
    font-size: 13px;
    line-height:19px ;
    color: #000000;
  }
  /*Demais Navegadores*/ 
   :-ms-input-placeholder{
    font-family: Monstserrat;
    font-weight: 700;
    font-size: 13px;
    line-height:19px ;
    color: #000000;
  } 
  


.fullcenter{
    background-color: rgb(244, 244, 247);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
h1{
    font-family: Montserrat;
    font-weight: 5000;
    font-size: 25px;
    color: black;
}
label{
    font-family: Montserrat;
    font-weight: 600; font-size: 15px;
    color:#000000;
    display: inline-block;
    margin: 10px 0px;
    

    
}







.textfield{
    width: 324px;
    height: 58px;
    background-color: white;
    border: #767676 solid 1px;
    border-radius: 20px;
    margin: 10px 0px;
    font-family: Montserrat;
    font-size: 13px;
    color: #000000;
    line-height: 19px;
}
.whiteButton{
    width: 150px;
    height: 58px;
    font-family: Montserrat;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;

}
